{# Structure générale du site #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block metatitle %}{% endblock metatitle %}
		</title>
		{# asset() génère l'url d'un fichier situé dans le répertoire public (sert à gérer les liens) #}
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon">
	</head>

{% include 'partial/_header.html.twig' %}

	<main>

		{% block main %}{% endblock main %}

	</main>

{% include 'partial/_footer.html.twig' %}
