{% extends 'base.html.twig' %}

{% block metatitle %}
    Catégories
{% endblock metatitle %}

{% block main %}

{% include 'partial/_aside-ad.html.twig' %}

<section class="cocktail-list">
	{% for category in categories %}
		<article class="cocktail-card">
			<div class="cocktail-info">
				<h2>{{ category.nom }}</h2>
				<p>{{ category.description }}</p>
			</div>
		</article>
	{% endfor %}
</section>

{% endblock main %}