{% extends 'base.html.twig' %}

{% block metatitle %}
    {{ categorie.nom }}
{% endblock metatitle %}

{% block main %}

{% include 'partial/_aside-ad.html.twig' %}
<h1>{{ categorie.nom }}</h1>

<section class="cocktail-list">
		<article class="cocktail-card">
			<div class="cocktail-info">
				<p>{{ categorie.description }}</p>
			</div>
		</article>
</section>

{% endblock main %}