{# Héritage de la structure du fichier 'base.html.twig' #}
{% extends 'base.html.twig' %}

{% block main %}
<main>

{% include 'partial/_aside-ad.html.twig' %}

	<h1>Liste des cocktails</h1>

	{% include 'partial/_loop-cocktails.html.twig' %}

</main>
{% endblock main %}
