<aside class="sidebar">
    <p>Presque une pub</p>

    <div class="ad-block">
        <img src="https://i.pinimg.com/474x/56/0d/f1/560df159ec76299f8ed24e5733a51e95.jpg" alt="Publicité 1">
        <h3>Offre spéciale !</h3>
        <a href="#">Voir l'offre</a>
    </div>

    <div class="ad-block">
        <img src="https://www.ladn.eu/wp-content/uploads/2019/11/pub-sexiste-immobilier.jpg" alt="Publicité 2">
        <h3>Promo du mois</h3>
        <a href="#">En savoir plus</a>
    </div>

    <div class="ad-block">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/pub-poster-template-dddc126a3b8f80289ed0c4bfe2dbbe89_screen.jpg?ts=1636967472" alt="Publicité 3">
        <h3>Réduction exclusive</h3>
        <a href="#">Obtenir maintenant</a>
    </div>
</aside>

<aside class="sidebar">
    <p>Presque une pub</p>

    <div class="ad-block">
        <img src="https://i.pinimg.com/474x/56/0d/f1/560df159ec76299f8ed24e5733a51e95.jpg" alt="Publicité 1">
        <h3>Offre spéciale !</h3>
        <a href="#">Voir l'offre</a>
    </div>

    <div class="ad-block">
        <img src="https://www.ladn.eu/wp-content/uploads/2019/11/pub-sexiste-immobilier.jpg" alt="Publicité 2">
        <h3>Promo du mois</h3>
        <a href="#">En savoir plus</a>
    </div>

    <div class="ad-block">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/pub-poster-template-dddc126a3b8f80289ed0c4bfe2dbbe89_screen.jpg?ts=1636967472" alt="Publicité 3">
        <h3>Réduction exclusive</h3>
        <a href="#">Obtenir maintenant</a>
    </div>
</aside>