<footer>
	<div class="footer-content">
		<nav>
			<ul class="footer-links">
				<li>
					<a href="{{ path('home') }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path('list-cocktails') }}">Tout les cocktails</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>

		<div class="footer-logo">
			<img src="{{ asset('assets/img/cocktail-logo.png') }}" alt="Logo Footer">
		</div>
        
		<p>&copy; PasUnVraiSiteDeCocktails - Tous droits réservés</p>

		<a href="#top" class="back-to-top">Haut de page</a>
	</div>
</footer></body></html>
